*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: #1A1B21;
}

.main-container{
  max-width: 320px;
  min-height:95vh;
  margin:15px auto;
  height: 500px;
  display: flex;
  justify-content: center;
  background-color:#F5F5F5 ;
  border-radius: 10px 10px 10px 10px;
}

/***************Image Container***********/

.image{
  background-image: url(./photo.jpeg);
  background-size: 350px 350px;
  width: 320px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0;
}

.image-container> h1{
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.image-container>h2{
  font-weight: 400;
  text-align: center;
  color:#F47D27;
  margin-top:5px;
}

