*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: #1A1B21;
}

.main-container{
  max-width: 320px;
  min-height:95vh;
  margin:15px auto;
  height: 500px;
  background-color:#F5F5F5 ;
  border-radius: 10px 10px 0px 0px;
}

/***************Image Container***********/

.image-container{
  height:69%;
  margin-bottom: 0;
}

.image{
  background-image: url(./photo.jpeg);
  background-size: 350px 350px;
  width: 320px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0;
}

.image-container> h1{
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.image-container>h2{
  font-weight: 400;
  text-align: center;
  color:#F47D27;
  margin-top:5px;
  margin-bottom: 0;
}

.image-container>h3 {
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
}

.email-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.email{
  width:80%;
  border-radius: 7px;
  border:1px solid rgb(209, 207, 207);
  padding:1rem 1rem;

}

.email>i{
  padding-right: 1rem;
}

.about{
 margin-left:3.25rem;
 margin-right:3.25rem;
 text-align: justify;
 color: #4A4E74;
 margin-bottom:0;
 margin-top: 1rem;
 line-height: 150%;
}

.about>h2{
  color: #2B283A;
  margin-bottom: 0;
}

.footer{
  display: flex;
  justify-content: center;
  align-items:center;
  gap:3rem;
  border:1px transparent;
  background-color: #D5D4D8;
  padding:2rem 2rem;
  border-radius: 0px 0px 10px 10px;
  margin-top: 3rem;

}


